<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>공지사항 목록</title>
    </head>
    <body>
    <div id="container">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>글분류</th>
                        <th>글제목</th>
                        <th>작성일</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="notice : ${noticeList}">
                        <td th:text="${notice.noticeType}">Category</td>
                        <td><a th:href="@{/notice/detail/{id}(id=${notice.id})}" th:text="${notice.title}">Title</a></td>
                        <td th:text="${notice.regDate}">Created Date</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </body>
</html>
